#========== DEPENDENCIES ==========
*package*        @MFarabi619

#=========== APPS ==========
/apps/*             @MFarabi619
/apps/docs/         @JeremyFriesenGitHub
/apps/docs-e2e/     @JeremyFriesenGitHub
/apps/portal/       @MFarabi619
/apps/portal-e2e/   @MFarabi619
/apps/website/      @HasithDeAlwis
/apps/website-e2e/  @HasithDeAlwis

#========== CONFIGURATIONS ==========
*config*            @MFarabi619
*build*             @MFarabi619
/.github/           @MFarabi619
/.husky/            @MFarabi619
/.vscode/           @MFarabi619
/.cz.json           @MFarabi619
/nx.json            @MFarabi619
/.editorconfig      @MFarabi619

#========== LIBRARIES ==========
/libs/website/      @MFarabi619 @HasithDeAlwis
/libs/utils/        @MFarabi619
/libs/ui/           @MFarabi619
/libs/api           @MFarabi619
/libs/env           @MFarabi619
/libs/db            @MFarabi619 @JeremyFriesenGitHub
