#===== ci(codeowners) ======
#===========================
#===== INFRASTRUCTURE ======
#===========================
infra/              @MFarabi619
*package*           @MFarabi619
*config*            @MFarabi619
*build*             @MFarabi619
/.github/           @MFarabi619
/.husky/            @MFarabi619
/.vscode/           @MFarabi619
/.cz.json           @MFarabi619
/nx.json            @MFarabi619
/.editorconfig      @MFarabi619
*.nix               @MFarabi619
.env.example        @MFarabi619

#===========================
#========== APPS ===========
#===========================
/apps/arch/         @MFarabi619 @HasithDeAlwis
/apps/axiom/        @MFarabi619 @HasithDeAlwis
/apps/docs/         @HasithDeAlwis
/apps/docs-e2e/     @HasithDeAlwis
/apps/portal/       @MFarabi619 @HasithDeAlwis
/apps/portal-e2e/   @MFarabi619 @HasithDeAlwis
/apps/slides/       @MFarabi619 @HasithDeAlwis
/apps/website/      @HasithDeAlwis
/apps/website-e2e/  @HasithDeAlwis

#===========================
#======= LIBRARIES =========
#===========================
/libs/cms/          @MFarabi619
/libs/db/           @MFarabi619
/libs/docs/         @MFarabi619
/libs/external/     @HasithDeAlwis
/libs/infra/        @MFarabi619
/libs/portal/       @HasithDeAlwis @MFarabi619
/libs/portal-e2e/   @HasithDeAlwis @MFarabi619
/libs/shared/       @MFarabi619
/libs/slides/       @HasithDeAlwis @MFarabi619
/libs/website/      @HasithDeAlwis
/libs/website-e2e/  @HasithDeAlwis
