#========= DATABASE =========
DATABASE_URI=postgres://postgres:password@localhost:5432/postgres
DRIZZLE_STUDIO_THEME_EDIT_LINK=""
DRIZZLE_STUDIO_THEME_SHARE_LINK="https://drizzle.studio/themes/tqmTge0Voup-CoC4J0xrt"
#================================

#========= FILE STORAGE =========
PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYLOAD_PUBLIC_EXTERNAL_SERVER_URL=https://axiom.cuhacking.ca
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000/
PAYLOAD_PORTAL_URL=https://portal.cuhacking.ca/
PAYLOAD_LOCAL_PORTAL_URL=http://localhost:3001/
#================================

#========= SECURITY =============
NEXT_PUBLIC_ENABLE_AUTOLOGIN=true
VITE_API_URL=http://localhost:3000/
VITE_WEBSITE_URL=http://localhost:3010/
CORS_WHITELIST_ORIGINS="http://localhost:3000, http://localhost:3010, https://axiom.cuhacking.ca"
CSRF_WHITELIST_ORIGINS="http://localhost:3000, https://axiom.cuhacking.ca"
#================================

#========= FILE STORAGE =========
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=us-east-2
S3_ENDPOINT=
#================================

#========= OAUTH CLIENTS ========
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CLIENT_CALLBACK_URL=
#--------------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
#--------------------------------
NOTION_CLIENT_ID=
#--------------------------------
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
#--------------------------------
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_CALLBACK_URL=
#--------------------------------
SUPABASE_CLIENT_ID=
SUPABASE_CLIENT_SECRET=
#================================

#======== INFRASTRUCTURE ========
NETLIFY_AUTH_TOKEN=""
