.prose :where(table):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  width: 100%;
  table-layout: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7142857;
}
